body {
    overflow-y: hidden;
    overflow-y: hidden;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.input-row {
    display: flex;
}

input.check{
    margin: 10px;
    transform: scale(3);
}

#check_label {
    margin-right: 50px;
}

.input-box {
    width: 95vw;
    height: 10vh;
    font-size: 9vh;
}

.img-btn {
    width: 10vh;
    height: 10vh;
    margin: 0 10px;
}

#bps {
    width: 10%;
}

label {
    font-size: 5vh;
    line-height: 200%;
    margin: 10px;
}

.btn {
    width: 100%;
    margin: 10px 0px;
    font-size: 40px;
}

#clock-box {
    background-color: black;
    display: none;
}

.transmit-box {
    width: 100%;
    height: 100vh;
    background-color: white;
}
#mode {
    margin: 10px;
    font-size: 5vh;
    width: 50%;
}

.settings-row {
    display: none;
    margin: 10px 10px;
}
