body {
    overflow-y: hidden;
}

.input-row {
    display: flex;
}
input#hamming_check {
    margin: 10px;
    transform: scale(3);
}

.input-box {
    width: 90%;
    height: 10vh;
    font-size: 9vh;
}
.img-btn {
    width: 10vh;
    height: 10vh;
    margin: 0 10px;
}
#bps {
    width: 10%;
}

label {
    font-size: 5vh;
    line-height: 200%;
    margin: 10px;
}

.btn {
    width: 100%;
    margin: 10px 0px;
    font-size: 40px;
}
#clock-box {
    background-color: black;
    display: none;
}

.transmit-box {
    width: 100%;
    height: 90vh;
    background-color: white;
}
#mode {
    margin: 10px;
    font-size: 5vh;
    width: 50%;
}
.settings-row {
    display: none;
}